body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 3em ;
}

h4{
    font-weight: 500;
}

Span{
    color:rgb(8, 145, 199)

}
section{
    display: flex;
    margin-bottom : 100px;
}
.half_width{
    width : 50% ;
    padding : 2%;
}
.half_width img{
    width: 80% ;
    height: 100%;
}

.about_me{
    background-image: url("Frame 57.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right bottom, left top;
    background-attachment: local;
    padding : 1% ;
    margin-bottom : 150px;
}

.order_food_button{
    text-decoration: none;
    background-image: linear-gradient(#4fc5f3, #1c88b3);
    padding: 10px;
    font-weight: 700;
    border-radius: 15px;
    color: whitesmoke;
}


/*Adding things from the test file */

div.polaroid {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    
    border: 2px solid white ;
    border-radius: 25px;
  
    margin-left : 5% ;
    padding : 1% ;
  }
  
  img{
    border: 2px solid white ;
    border-radius: 25px;
  }
  
  /*div.container {
    padding: 10px;
  }*/
  
  /*section{
   display : flex ;
   margin-bottom : 100px ;
  }*/
  
  .center_property{
        text-align: center;
        margin-bottom: 5%;
  }
  footer{
  background-color: black;
  }
  
  #Footer_tagline{
      color : white;
      text-align: center;
      padding-top : 3% ;
  }
  
  #quote{
      color : white;
      text-align: center;
      padding-bottom : 3% 
  }
  /*span{
      color: Blue;
  }*/
  
  .social_media_info{
    display : flex;
    border: 2px solid white ;
    border-radius: 15px; 
    margin: 10%;
  
  }
  
  .one_third_width{
  
      width:25%;
      float: left;
      margin-left: 5%;
      padding-left: 2%;
  }
  
  div.social_media_class {
    width: 900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    border: 1px solid white ;
    border-radius: 15px;
  }